<link rel="stylesheet" href="/style.css">
<html>
	<head>
		<title>FARMER-LOGIN</title>
	</head>
<h1>
	PLEASE FILL UP THE DETAILS CORRECTLY IN ORDER TO LOGIN
</h1>
<body>
	<br style="line-height:100px;">
	<form method="post" action="/homef">
		<font size="+2">LOGIN_NAME:</font>
		<input type="text" name="logname" required="text" maxlength="15"/>
		<br><br><br>
		<font size="+2">LOGIN_PASSWORD:</font>
		<input type="password" name="logpass" required="password" maxlength="15"/>
		<br><br><br>
		<a>
		<button>
			LOGIN
		</button>
		</a>
	</form>
</body>
</html>