<link rel="stylesheet" href="/style.css">
<html>
	<head>
		<title>FRONT PAGE</title>
	</head>
<h1>
	FARM-MANAGEMENT
</h1>
<body>
	<br style="line-height:50px;">
	<form method="post" action="/signup">
		<a>
		<button>
			SIGN UP
		</button>
		</a>
	</form>
	<br style="line-height:30px;">
	<form method="post" action="/login">
		<a>
		<button>
			LOGIN
		</button>
		</a>
	</form>
</body>
</html>