<link rel="stylesheet" href="/style.css">
<html>
	<head>
		<title>CUSTOMER-CHOICE</title>
	</head>
	<br>
<h1>
	SELECT YOUR CHOICE 
</h1>
<body>
	<br style="line-height:30px;">
	<form method="post" action="/home1/<%=cid%>">
		<a>
			<button>SHOP-FARM-PRODUCTS</button>
		</a>
	</form>
	<br style="line-height:30px;">
	<form method="post" action="/transcation/<%=cid%>">
		<a>
			<button>TRANSACTION-HISTORY</button>
		</a>
	</form>
	<form method="post" action="/profile/<%=cid%>">
		<a>
			<button>PROFILE</button>
		</a>
	</form>
</body>
</html>