<link rel="stylesheet" href="/style.css">
<html>
	<head>
		<title>VERFIED</title>
	</head>
	<br>
<h1>
	VERIFIED ,PLEASE CLICK BELOW 
</h1>
	<br style="line-height:50px;">
<body>
	<br style="line-height:30px;">
	<form method="post" action="/homefront1/<%=cid%>">
		<a>
			<button>HOME:)</button>
		</a>
	</form>
</body>
</html>