<link rel="stylesheet" href="/style.css">
<html>
	<head>
		<title>LOGIN-OPTION</title>
	</head>
<h1>
	SELECT YOUR CHOICE
</h1>
<body>
	<br style="line-height:50px;">
	<form method="post" action="/flogin">
		<a>
		<button>
			FARMER
		</button>
		</a>
	</form>
	<br style="line-height:30px;">
	<form method="post" action="/clogin">
		<a>
		<button>
			CUSTOMER
		</button>
		</a>
	</form>
</body>
</html>