<link rel="stylesheet" href="/style.css">
<html>
	<head>
		<title>ERROR</title>
	</head>
	<h1>
		sorry login name alredy used:(
	</h1>
	<form method="post" action="/csignup">
		<a>
		<button>
			BACK
		</button>
			</a>
	</form>
</html>