<link rel="stylesheet" href="/style1.css">
<html>
	<head>
		<title>thanks-buying</title>
	</head>
	<h1>
		THANKS FOR YOUR REVIEW AND RATING, IT MEANS A LOT:)
	</h1>
		<form method="post" action="/home1/<%=cid%>">
			<a>
		<button>
			RENDER TO HOME
		</button>
				</a>
	</form>
</html>