<link rel="stylesheet" href="/style1.css">
<html>
	<head>
		<title>PURCHASE-COMMENT</title>
	</head>
	<br style="line-height:100px;">
	<h1>
		PURCHASE CONFIRMED, BUT FAILED TO SEND EMAIL TO MAIL ID :<%=mail%> ABOUT THE PURCHASE
	</h1>
	<form method="post" action="/home1/<%=cid%>">
		<a>
			<button>RENDER TO HOME</button>
		</a>
	</form>
</html>